/* RESET */

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    img {
        max-width: 100%;
    }

/* ROOT */

    :root {
        --btn-color:#B1B1B1;
        --background-grey:#EAEAEA;
        --text-color:#6B7376;
        --light-blue:#8EDAFC;
        --sent-message:#D5F9BA;
    }

/* COMMON */

    body {
        font-family: "Roboto", sans-serif;
    }

    #wrapper {
        height: 100vh;
        width: 100%;
        background: linear-gradient(#009688 15%, #DADBD4 15%);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .container {
        width: 80%;
        display: flex;
        height: 95%;
    }

    button {
        border: transparent;
        color: var(--btn-color);
        font-size: 1.8rem;
        letter-spacing: 1.1rem;
        background-color: transparent;
        cursor: pointer;
    }

    button:hover {
        filter: opacity(70%);
    }

    header {
        background-color: var(--background-grey);
        height: 118px;
    }

    img {
        border-radius: 50%;
        height: 100%;
    }

    .card {
        height: 118px;
        padding: 1rem;
    }

/* LEFT BOX */

    .left-box {
        height: 100%;
        width: 450px;
        border-right: 1px solid var(--btn-color);
        flex-shrink: 0;
        background-color: white;
    }

    /* Header */

        .left-box header {
            height:calc(118px / 2 * 5);
        }

        .avatar-img {
            height: 100%;
            display: flex;
            align-items: center;
            gap: 1rem;
        }
        
        .setup {
            height: 118px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .notice {
            display: flex;
            align-items: center;
            background-color: var(--light-blue);
        }

        .bell {
            height: 100%;
            margin-right: 1rem;
            background-color: white;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            aspect-ratio: 1/1;
            cursor: pointer;
        }

        .bell i {
            font-size: 2rem;
            color: var(--light-blue);
        }

        .text-notice a {
            color: var(--text-color);
        }

        .search {
            display: flex;
            align-items: center;
            height: 59px;
            padding: 0.5rem;
        }

        .search-icon {
            height: 100%;
            font-size: 1.5rem;
            padding: 1% 3%;
            color: var(--btn-color);
            background-color: white;
            display: flex;
            align-items: center;
        }

        .search input {
            font-size: 1.2rem;
            border: none;
            outline: none;
            padding-left: 1rem;
            height: 100%;
            width: 100%;
        }

    /* Main */

        .left-box main {
            height: calc(100% - (118px / 2 * 5));
        }

        ul {
            height: 100%;
            list-style-type: none;
            overflow-y: scroll;
            line-height: 1.5rem;
        }

        ul:first-child {
            border-top: 1px solid var(--btn-color);
        }

        li {
            display: flex;
            gap: 1rem;
            background-color: white;
            border-bottom: 1px solid var(--background-grey);
            font-size: 95%;
        }

        .active-chat {
            border: 2px solid var(--light-blue);
            filter: brightness(80%);
        }

        li:hover {
            filter: brightness(80%);
        }

        .chat-card {
            width: 299px;
            height: 48px;
            display: flex;
            flex-direction: column;
        }

        .chat-card p {
            color: var(--btn-color);
        }

        .last-message {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 300px;
        }


/* RIGHT BOX */

    .right-box {
        height: 100%;
        width: calc(100% - 450px);
    }

    /* Header */

        .right-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .last-access {
            height: 100%;
            display: flex;
            align-items: center;
            gap: 1rem;
        }

        .last-access p {
            color: var(--text-color);
            line-height: 2rem;
        }

        .btn-header-right {
            display: flex;
            gap: .5rem;
            justify-content: flex-end;
        }

        .header-search-input {
            border-radius: 7px;
            padding: .2rem;
            width: 0px;
            outline: none;
            border: 1px solid var(--btn-color);
        }

        /* Animazione */

            .stretch {
                animation: open-bar 0.25s linear both;
            }

            .close-bar {
                animation: close-bar 0.25s reverse both;
            }

            @keyframes close-bar {

                5% {
                    width: 0px;
                    }
                
                    40% {
                        width: 75px;
                    }
                
                    60% {
                        width: 150px;
                    }
                
                    80% {
                        width: 225px;
                    }
    
                    100% {
                        width: 300px;
                    }
            }

            @keyframes open-bar {
                
                5% {
                width: 0px;
                }
            
                40% {
                    width: 75px;
                }
            
                60% {
                    width: 150px;
                }
            
                80% {
                    width: 225px;
                }

                100% {
                    width: 300px;
                }
            }


    /* Main */

        .right-box main {
            height: calc(100% - 118px);
        }

        .chat-box {
            height:calc(100% - 110px);
            background-image: url(../img/mine.jpg);
            overflow-y: scroll;
        }

        .emoji-box {
            display: flex;
            flex-wrap: wrap;
            width: 40%;
            position: absolute;
            bottom: 115px;
            left: 8px;
            border-radius: 5px;
            border: 1px solid rgb(230, 230, 230);
        }

        .emoji-cont {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgb(230, 230, 230);
            font-size: 1.6rem;
            aspect-ratio: 1;
            width: calc(100% / 10);
            cursor: pointer;
            border: 1px solid rgb(192, 192, 192);
        }

        .message-container {
            padding: 2rem 3rem;
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        .message-input {
            width: 100%;
            height: 110px;
            background-color: #F3EEEA;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1rem 2rem;
            gap: 3rem;
            position: relative;
        }

        .sent {
            background-color:var(--sent-message);
            border-radius: 10px;
            padding: 2%;
            max-width: 60%;
            align-self: flex-end;
            margin-bottom: 2rem;
            border-top-right-radius: 0px;
        }

        .message {
            display: flex;
        }

        .menu-message {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            color: var(--btn-color);
            font-size: .9rem;
        }

        .text-message {
            margin-right: 0.5rem;
        }

        .received {
            background-color:white;
            border-radius: 10px;
            padding: 2%;
            align-self: flex-start;
            margin-bottom: 2rem;
            border-top-left-radius: 0;
        }

        .text-send {
            height: 100%;
            width: 100%;
        }

        .message-input button {
            letter-spacing: 0;
        }

        .message-input input {
            border: none;
            outline: none;
            width: 100%;
            height: 100%;
            font-size: 1.5em;
            padding-left: 1.5em;
            border-radius: 10px;
        }

        .message-option button {
            color: black;
            font-size: 1rem;
            letter-spacing: 0;
            padding: 0.8rem;
        }

        .message-option {
            box-shadow: 0px 0px 6px black;
            position: absolute;
            flex-direction: column;
            min-width: 170px;
            top: 90%;
            display: none;
            border-radius: 0;
            padding: 0;
        }

        .message-option.sent {
            right: 10%;
        }

        .message-option.received {
            left: 10%;
        }

        .trigger {
            position: relative;
        }

        .message-option:hover {
            display: flex;
        }

        .trigger:hover .message-option {
            display: flex;
        }

        .trigger:hover .fa-solid {
            rotate: 180deg;
        }

        .microphone {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            aspect-ratio: 1/1;
        }

        .send {
            width: 80px;
            height: 80px;
            aspect-ratio: 1/1;
        }

        .send:hover {
            color: var(--light-blue);
        }

        .microphone:active {
            animation-name: click;
            animation-duration:1.5s;
            animation-iteration-count:infinite;
            animation-timing-function: linear;
        }

        @keyframes click {
            20% {
                color: var(--light-blue);
                border: 10px double var(--light-blue);
            }

            40%{
                border: 15px double;
                font-size: 1.6rem;
            }

            60% {
                
                border: 20px double;
                font-size: 1.4rem;
            }

            80% {
                border: 15px double;
                font-size: 1.6rem;
            }
        }


    


