<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Boolzapp</title>

    <!-- Google-font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Croissant+One&family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">

    <!-- Font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Style -->
    <link rel="stylesheet" href="./css/style.css">

    <!-- Responsive -->
    <link rel="stylesheet" href="./css/responsive.css">

    <!-- VUEJS -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

</head>

<body>

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Container -->
        <div class="container">

            <!-- Left box -->
            <div class="left-box">

                <header>

                    <div class="setup card">
                        <div class="avatar-img">
                            <img src="img/avatar_io.jpg" alt="My avatar">
                            <h1>Sofia</h1>
                        </div>
                        <div class="avatar-btn">
                            <button>
                                <i class="fa-solid fa-circle-notch"></i>
                            </button>
                            <button>
                                <i class="fa-solid fa-message"></i>
                            </button>
                            <button>
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                            </button>
                        </div>
                    </div>

                    <div class="notice card">
                        <div class="bell">
                            <i class="fa-solid fa-bell-slash"></i>
                        </div>
                        <div class="text-notice">
                            <h3>Ricevi notifiche di nuovi messaggi</h3>
                            <a href="">Attiva notifiche desktop</a>
                        </div>
                    </div>

                    <div class="search">
                        <label for="search-bar" class="search-icon">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </label>
                        <input id="search-bar" type="search" placeholder="Cerca o inizia una nuova chat" v-model="searchText" @keyup="searchUser">
                    </div>

                </header>

                <main>

                    <!-- Contact list -->
                    <ul>

                        <li class="card"  v-for="(object, index) in contacts" @click="showAllChat(object, index)" v-show="object.visible">

                            <div class="img-chat">
                                <img :src="`img/avatar${object.avatar}.jpg`" alt="">
                            </div>
                            <div class="chat-card">
                                <div>
                                    <h3>{{ object.name }}</h3>
                                    <p  class="last-message">{{ readLastValueMessage(object).message }}</p>
                                </div>
                                <p>{{ readLastValueMessage(object).date }}</p>
                            </div>

                        </li>


                    </ul>
                    <!-- /Contact list -->

                </main>

            </div>
            <!-- /Left box -->

            <!-- Right box -->
            <div class="right-box">

                <header class="right-header card">

                    <div class="last-access">
                        <img :src="`img/avatar${contacts[selectIndex].avatar}.jpg`" alt="Michele">
                        <div>
                            <h3>{{ contacts[selectIndex].name }}</h3>
                            <p>Ultimo accesso: {{ readLastValueMessage(contacts[selectIndex]).date }}</p>
                        </div>
                    </div>

                    <div class="btn-header-right">
                        <button>
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                        <button>
                            <i class="fa-solid fa-paperclip"></i>
                        </button>
                        <button>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </button>
                    </div>

                </header>

                <main>

                    <!-- Chat box -->
                    <div class="chat-box" >
                        <div class="message-container" v-for="(object, i) in contacts" :key="i" v-show="i === selectIndex">

                            <div :class="friend.status === 'received' ? 'received' : 'sent'" v-for="(friend, j) in object.messages" :key="j">
                                <div class="message">
                                    <div class="text-message">
                                        <p>{{ friend.message }}</p>
                                    </div>
                                    <div class="menu-message">
                                        <div class="trigger">
                                            <i class="fa-solid fa-angle-down"></i>
                                            <div class="message-option" :class="friend.status === 'received' ? 'received' : 'sent'">
                                                <button>
                                                    Info messaggio
                                                </button>
                                                <button @click="clearMessage(object.messages, j, contacts)">
                                                    Cancella messaggio
                                                </button>
                                            </div>
                                        </div>
                                        <p>{{ onlyHour(friend.date) }}</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- /Chat box -->

                    <!-- Message input -->
                    <div class="message-input">

                        <button>
                            <i class="fa-regular fa-face-smile"></i>
                        </button>
                        <label for="input-text-message" class="text-send">
                            <input id="input-text-message" type="text" placeholder="Scrivi un messaggio" v-model="newMessage" @keyup.enter="sendMessage(contacts[selectIndex].messages)">
                        </label>
                        <button class="microphone">
                            <i class="fa-solid fa-microphone"></i>
                        </button>

                    </div>
                    <!-- /Message input -->

                </main>

            </div>
            <!-- /Right box -->

        </div>
        <!-- /Container -->

    </div>
    <!-- /Wrapper -->

    <!-- Luxon -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/luxon/3.4.4/luxon.min.js" integrity="sha512-dUlSLLkxslGILhPdCkALwk4szPhp3xmZIKFtlUD+O9Lslq41Aksmdt5OGqpomDoT4FsCUH70jQU8ezZHI3v1RQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- My script -->
    <script src="./js/script.js"></script>
</body>
</html>